/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 0.8cm;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #333;
    margin-bottom: 20px;
    top: 0;
    font-size: 0.4cm;
}

h1 {
    margin-top: 40px;
}

h3 {
    margin-bottom: 20px;
    font-size: 0.5cm;
    font-weight: lighter;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin: 0;

}

a{
    color: #fff;
    text-decoration: none; 
}

a:hover{
    text-decoration: wavy;
}

section {
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.skill {
    text-align: center;
}

.skill img {
    margin-bottom: 10px;
}

.project-card {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    flex-flow: row;
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-links a {
    display: inline-block;
    margin-right: 10px;
}

.experience-list li {
    margin-bottom: 20px;
}

.certifications-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.certifications-list li {
    margin-bottom: 20px;
    text-align: center;
}

.contact ul {
    list-style-type: none;
}

.contact ul li {
    margin-bottom: 10px;
}

.contact ul li a {
    color: #333;
}

#scrollToTopBtn {
    position: static;
    bottom: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #scrollToTopBtn:hover {
    background-color: #555;
  }
  